
/* Стили навигации (стиль ссылок описывается и для навигации и для нижней части)*/
header{
    background-image: url(../images/header1.jpg);
    height: 50px;
    width: 100vw;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

a{
    margin-right:40px;
    background-color: rgba(245, 103, 9, 0.8);
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Bad Script', cursive, Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
}
a:hover{
    background-color: rgba(250, 248, 246, 0.65);
    text-decoration: none;
    color: black;
}
/*Стили основной части*/
body 
{
    background-color: papayawhip;
    margin: 0;
}

main{
    
    margin-top: 100px;
}

 img{
     cursor: zoom-in;
 }
 section{
    margin-top: 30px;
    margin-left: 30px;

}
.info__add p, ul{
    margin: 0;
    padding: 30px;
    background-color: rgba(245, 103, 9, 0.65);
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    margin-bottom: 20px;

}
h1, h2, h3{
    font-family: 'Bad Script', cursive, Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
figcaption{
    text-align: center;
    font-size: 20px;
}


figure{
    height: 450;
    width: 300;
    padding: 50;
    background-color: white;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}


.info__main{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.info__main section{
align-self: center;
border-left: solid;
padding: 20px;
margin: 20px;
font-size: 20px;
font-family: 'Montserrat', sans-serif;

}

[class^="info__add0"]{
    display: flex;
    justify-content: space-around;
}

/*Стили нижней части*/


footer{
    background-image: url(../images/header1.jpg);
    height: 120px; 
    padding:20px;
    text-align: center;
  }

footer span{
    background-color: rgba(245, 103, 9, 0.8);
    border-radius: 4px;
    font-size: 25px;
    margin-right: 80px;
    font-family: 'Bad Script', Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
} 

/*Стили для уменьшенного экрана*/
@media screen and (max-width: 800px) {
    
    header{
        background-image: url(../images/header1.jpg);
        height: 100px;
        width: 100vw;
        padding: 10px;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 200px;
    }
}